.chartsContainer {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;

    /* guide */
    /* border: 2px solid rgb(255, 0, 0);  */
}

.chart {
    border: 1px solid black;
    background-color: rgba(133, 82, 44, 0.2);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;


    /* guide */
    /* border: 2px solid rgb(21, 255, 0);  */
}

.chartsContainer h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.table {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    margin-top: 1rem;
    margin-bottom: 1rem;

    /* guide */
    /* border: 2px solid rgb(0, 17, 255);  */
}

.openTable {
    max-height: 15vh;

    /* guide */
    /* border: 2px solid rgb(234, 0, 255);  */
}

.closedTable {
    min-height: 10vh;
    max-height: 25vh;

    /* guide */
    /* border: 2px solid rgb(255, 238, 0);  */
}

.row {
    margin: 1rem;

    /* guide */
    /* border: 2px dashed black; */
}
.col {
    /* guide */
    /* border: 5px dashed rgb(73, 159, 216); */

}
