.chartsContainer {
    width: 90%;
    text-align: center;
}

.chart {
    border: 1px solid black;
    background-color: rgba(133, 82, 44, 0.2);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    padding: 20px;
    margin-top: 20px;
}

