.navbar {
    background-color: rgba(133, 82, 44, 1);
    height: 10vh;
}

.logo {
    height: 7vh;
    width: auto;
}

.nav-link {
    text-decoration: none;
    font-weight: 1000;
    color: rgba(240, 255, 255, .8);
    margin: 1rem;
}

.nav-link:hover {
    text-decoration: none;
    color: rgba(240, 255, 255);
    transform: scale(1.15);
}

.offcanvas {
    background-color: rgba(133, 82, 44, 1);
    max-height: 100%;
    max-width: 50%;
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
    transform: translateX(-100%);
    transition: transform 0.1s ease-in-out;
}

.offcanvas-header {
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
}
